/* Style the body */
body {
    margin: 0;
}

/* Style the logo */
.logo {
    font-size: 24px;
    margin: 20px; /* margin for UC Browser*/
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: #DC143C;
    color: #f1f1f1;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}